.main__catalogo{
    background-color: #9b815f;
    .main__catalogo--h2{
        font-size: 3rem;
        padding: 2rem;
        font-family: 'Special Elite', cursive;
        color:#d6cfc7;
        text-align: center;
        @media only screen and (max-width:768px){
            font-size: 2.5rem;
        }
    }
    .hr__catalogo{
        border-style: solid;
        border-width: 0.15rem;
        border-color:#d6cfc7
    }
    .main__catalogo--p{
        font-size: 1.5rem;
        padding: 2rem;
        font-family: 'Special Elite', cursive;
        color:#d6cfc7;
        text-align: center;
        @media only screen and (max-width:768px){
            font-size: 1.25rem;
        }
    }
    .imgcat{
        width:90%;
        border-radius: 1rem;
    }
    .main__catalogo--p2{
        color:#d6cfc7;
        font-family: 'Special Elite', cursive;
        font-size: 1.25rem;
        text-align: center;
      }
}