.header{
    background-color:#9b815f;
    .logo{
        width: 12.5rem;
        height: 12.5rem;
        @media only screen and (max-width:768px){
            width: 10rem;
            height: 10rem;
        }
    }
    .fade-in {
        -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    
    .boton__nav{
      background-color: #d6cfc7;
    }

    .navbar1{
        background-color: #d6cfc7;
        padding: 1rem;
        border-radius: 0.5rem;
        li{
            margin: 0 0.8rem;
            .a{
                color:#9b815f;
                font-family: 'Special Elite', cursive;
                font-size: 1.25rem;
                &:hover{color: #fff6ea}
                @media only screen and (max-width:768px){
                    font-size: 1rem;
                }
            }
            .acontacto{
                color: #d6cfc7;
                background-color: #9b815f;
                border-radius: 0.5rem;
            }
         }
    }
}