/*          CATALOGO         */


.catalogo{
    background-color: map-get($colores,"marron");
    &__h2{
        @include h2
    }
    &__hr{
        @include hr
    }
    &__p{
        @include p
    }
    &__img{
        @include img
    }
    &__p2{
        color: map-get($colores,"beige");
        font-family: $fuente;
        font-size: 1.25rem;
        text-align: center;
      }
}