/*          CONTACTO         */


.contacto{
    background-color: map-get($colores,"marron");
    &__h2{
        @include h2
    }
    &__hr{
        @include hr
    }
    &__form{
        background-color: map-get($colores,"beige");
        border-radius: 1rem;
        width: 70%;
        font-family: $fuente;
        color: map-get($colores,"marron");
        @media only screen and (max-width:768px){
            width: 100%;
        }
    }
    &__botones{
        font-family: $fuente;
        font-size: 1rem;
        color: map-get($colores,"beige");
        background-color: map-get($colores,"marron");
        border: none;
        padding: 1rem;
        border-radius: 1rem;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }
}