/*          PIE DE PAGINA         */


.footer{
    background-color:$colorbeige;
    font-family: 'Special Elite', cursive;
    color:$colormarron;
    font-size: 1.25rem;
    &__iconos{
        width:2.5rem;
        height: 2.5rem;
        opacity: 0.8;
        &:hover{
            opacity:1
        }
    }
    &__hr{
        border-style: solid;
        border-width: 0.15rem;
        border-color:$colormarron
    }
    @media only screen and (max-width:768px){
        font-size: 1rem;
    }
}

.copyright{
    background-color: $colormarron;
    color:$colorbeige;
    &__a{opacity: 0.8;
        color: $colorbeige;
        &:link {
            opacity: 0.8;
        }
        &:visited {
            color: #00C2CB;
        }
        &:hover {
            opacity: 1;
        }
        &:active {
            color: #604B2F;
        }
    }
}
