/*          PIE DE PAGINA         */


.footer{
    background-color: map-get($colores,"beige");
    font-family: $fuente;
    color: map-get($colores,"marron");
    font-size: 1.25rem;
    &__iconos{
        width:2.5rem;
        height: 2.5rem;
        opacity: 0.8;
        &:hover{
            opacity:1
        }
    }
    &__hr{
        @include hr;
        border-color: map-get($colores,"marron")
    }
    @media only screen and (max-width:768px){
        font-size: 1rem;
    }
}

.copyright{
    background-color: map-get($colores,"marron");
    color: map-get($colores,"beige");
    &__a{opacity: 0.8;
        color: map-get($colores,"beige");
        &:link {
            opacity: 0.8;
        }
        &:visited {
            color: map-get($colores,"turquesa");
        }
        &:hover {
            opacity: 1;
        }
        &:active {
            color: map-get($colores,"marronoscuro");
        }
    }
}
