/*          GALERIA         */


.galeria{
    background-color: map-get($colores,"marron");
    &__h2{
        @include h2
    }
    &__hr{
        @include hr
    }
    &__img{
        @include img;
        opacity: 0.75;
        &:hover{
            opacity: 1;
        }
    }
}
