/*          ENCABEZADO         */


.header{
    background-color: map-get($colores,"marron");
    &__logo{
        width: 12.5rem;
        height: 12.5rem;
        @media only screen and (max-width:992px){
            width: 10rem;
            height: 10rem;
        }
        @media only screen and (max-width:768px){
            width: 8rem;
            height: 8rem;
        }
    }
    .fade-in {
        -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    
    &__boton--nav{
      background-color: map-get($colores,"beige");
    }
    .navbar-toggler{
        color: map-get($colores,"marronoscuro"); 
    }

    .navbar1{
        background-color: map-get($colores,"beige");
        padding: 1rem;
        border-radius: 0.5rem;
        
        &__li{
            margin: 0 0.8rem;
            &--a{
                color: map-get($colores,"marron");
                font-family: $fuente;
                font-size: 1.25rem;
                text-align: center;
                &:hover{color: map-get($colores,"blanco");}
                @media only screen and (max-width:768px){
                    font-size: 1rem;
                }
            }
            &--acontacto{
                @extend .navbar1__li--a;
                color: map-get($colores,"beige");
                background-color: map-get($colores,"marron");
                border-radius: 0.5rem;
            }
            &--activo{
                color: map-get($colores,"marronoscuro");
            }
            .navbar2{
                background-color: map-get($colores,"beige");
                padding: 1rem;
                border-style: none;
                text-align: center;
                &__a2{
                    color: map-get($colores,"marron");
                    font-family: $fuente;
                    font-size: 1rem;
                    &:hover{
                        color: map-get($colores,"blanco");
                        background-color: map-get($colores,"beige")
                    }
                    @media only screen and (max-width:992px){
                        color: map-get($colores,"beige");
                        &:hover{
                            color: map-get($colores,"blanco");
                            background-color: map-get($colores,"marron")}
                        }
                }
                @media only screen and (max-width:992px){
                    background-color: map-get($colores,"marron");
                }
            }
         }
         .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0; // remove the gap so it doesn't close
         }
    }
}