/*          INICIO        */


.inicio{
    background-color: $colormarron;
    &__main{
        background-image: url(Imagenes/FONDO.png);
        background-size: 70%;
        background-position: top center;
        background-repeat: no-repeat;
        font-size: 6vw;
        text-shadow: $colormarron 5px 1px 2px;
        &--p{
            color: $colorbeige;
            font-family: 'Special Elite', cursive;
            padding: 1vw;
        }
        @media only screen and (max-width:768px){
            background-size: 80%;
            font-size: 8vw;
        }
        .bounce-in-top1 {
            -webkit-animation: bounce-in-top 1.1s both;
                    animation: bounce-in-top 1.1s both;
        }
        .bounce-in-top2 {
            -webkit-animation: bounce-in-top 1.1s 0.8s both;
                    animation: bounce-in-top 1.1s 0.8s both;
        }
        .bounce-in-top3 {
            -webkit-animation: bounce-in-top 1.1s 1.6s both;
                    animation: bounce-in-top 1.1s 1.6s both;
        }
    }
    &__logo{
        width: 70%;
        @media only screen and (max-width:768px){
            width: 50%;
        }
    }
    &__p{
        color: $colorbeige;
        font-family: 'Special Elite', cursive;
        font-size: 1.75rem;
        @media only screen and (max-width:768px){
            font-size: 1.5rem;
        }
    }
    &__card{
        background-color: $colorbeige;
        color: $colormarron;
        border-radius: 1rem;
        &--img{
            width:75%;
            border-radius: 1rem;
        }
        &--titulo{
            color: $colormarron;
            font-family: 'Special Elite', cursive;
            font-size: 1.75rem;
            @media only screen and (max-width:768px){
                font-size: 1.5rem;
            }
        }
        &--subtitulo{
            color: $colormarron;
            font-family: 'Special Elite', cursive;
            font-size: 1.25rem;
            padding-top: 1rem;
            @media only screen and (max-width:768px){
                font-size: 1rem;
            }
        }
    }
 }