/*          QUIENES SOMOS        */


.quienes{
    background-color: map-get($colores,"marron");
    &__h2{
        @include h2
    }
    &__hr{
        @include hr
    }
    &__p{
        @include p
    }
    &__img{
        @include img
    }
    &__card{
        @include card;
        &--img{
            width:50%;
            border-radius: 1rem;
        }
        &--p{
            color: map-get($colores,"marron");
            font-family: 'Special Elite', cursive;
            font-size: 1.5rem;
            @media only screen and (max-width:768px){
                font-size: 1.25rem;
            }
        }
      }
}